---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';

import ButtonWall from '$src/components/about/ButtonWall.astro';
import Interests from '$src/components/about/Interests.md';
import MainLayout from '$src/layouts/MainLayout.astro';
import Me from '$src/components/about/Me.md';
import QuizResults from '$src/components/about/QuizResults.astro';
import Window from '$src/components/Window.astro';

interface Tab {
	name: string;
	content: AstroComponentFactory;
}

const tabs: Tab[] = [
	{
		name: 'me',
		content: Me,
	},
	{
		name: 'quiz results',
		content: QuizResults,
	},
	{
		name: 'interests',
		content: Interests,
	},
	{
		name: 'button wall',
		content: ButtonWall,
	},
];
const defaultTab = tabs[0].name;

const ifTab = (tab: Tab) => `current === '${tab.name}'`;
const ifNotTab = (tab: Tab) => `current !== '${tab.name}'`;
const changeTab = (tab: Tab) => `current = '${tab.name}'`;
---

<MainLayout>
	<h1>About</h1>

	<Window
		style="display: none;"
		x-data={`{ current: '${defaultTab}' }`}
		x-show="true"
	>
		<h2 x-text="current">{defaultTab}</h2>

		<nav>
			{
				tabs.map(tab => (
					<button
						:class={`${ifTab(tab)} && 'active'`}
						x-show={ifNotTab(tab)}
						@click={changeTab(tab)}
					>
						{tab.name}
					</button>
				))
			}
		</nav>

		{
			tabs.map(async tab => {
				const { content: Content } = tab;
				return (
					<div class="content-container" x-show={ifTab(tab)}>
						<Content />
					</div>
				);
			})
		}
	</Window>

	<noscript>
		{
			tabs.map(async tab => {
				const { content: Content } = tab;
				return (
					<Window class="about-window">
						<h2>{tab.name}</h2>
						<div class="content-container">
							<Content />
						</div>
					</Window>
				);
			})
		}
	</noscript>
</MainLayout>

<style>
	nav {
		display: flex;
		grid-column: full-width;
		flex-wrap: wrap;
		border: 4px inset var(--cl-outline);

		button {
			flex: auto;
			padding: 0.1em 2.5em;
			font-size: 0.9rem;

			&:not(.active) {
				& ~ & {
					border-inline-start: 1px solid var(--cl-outline);
				}
			}
		}
	}

	.content-container {
		overflow-y: auto;
		grid-column: full-width;
		height: 28rem;
		padding-inline: 1rem;

		> * {
			grid-column: content;
		}

		h3 {
			border-block-end: 2px solid var(--cl-accent);
		}

		img:not([class]) {
			--margin: 1.5rem;

			max-width: 100%;
			height: auto;
			margin-block: var(--margin);
			padding-inline: clamp(0rem, 10cqi - 2rem, 2rem);

			object-fit: contain;

			&:has(+ em) {
				margin-block-end: 0;
			}

			+ em {
				display: block;
				margin-block-end: var(--margin);
				text-align: center;
			}
		}
	}

	.about-window + .about-window {
		margin-block-start: 2rem;
	}
</style>
