---
import Window from '$src/components/Window.astro';
import MainLayout from '$src/layouts/MainLayout.astro';
import { render } from 'astro:content';
import { getSortedTabs, getTabName, type Tab } from '$src/lib/aboutTabs';

const tabs = await getSortedTabs();
const defaultTab = getTabName(tabs[0]);

const ifTab = (tab: Tab) => `current === '${getTabName(tab)}'`;
const ifNotTab = (tab: Tab) => `current !== '${getTabName(tab)}'`;
const changeTab = (tab: Tab) => `current = '${getTabName(tab)}'`;
---

<MainLayout>
	<h1>About</h1>

	<Window
		style="display: none;"
		x-data={`{ current: '${defaultTab}' }`}
		x-show="true"
	>
		<h2 x-text="current">{defaultTab}</h2>

		<nav>
			{
				tabs.map(tab => (
					<button x-show={ifNotTab(tab)} @click={changeTab(tab)}>
						{getTabName(tab)}
					</button>
				))
			}
		</nav>

		{
			tabs.map(async tab => {
				const { Content } = await render(tab);
				return (
					<div class="content-container" x-show={ifTab(tab)}>
						<Content />
					</div>
				);
			})
		}
	</Window>

	<noscript>
		{
			tabs.map(async tab => {
				const { Content } = await render(tab);
				return (
					<Window class="about-window">
						<h2>{getTabName(tab)}</h2>
						<div class="content-container">
							<Content />
						</div>
					</Window>
				);
			})
		}
	</noscript>

	<a class="back" href="/">Back to index</a>
</MainLayout>

<style>
	nav {
		display: flex;
		grid-column: full-width;
		flex-wrap: wrap;
		border: 4px inset var(--cl-outline);

		button {
			flex: auto;
			padding-inline: 2.5em;
			font-size: 0.9rem;
		}
	}

	.content-container {
		display: contents;

		> * {
			grid-column: content;

			& + & {
				margin-block-start: 0;
			}
		}
	}

	.back {
		display: block;
		margin-block-start: 2em;
	}

	.about-window + .about-window {
		margin-block-start: 2rem;
	}
</style>
