---
import { Image } from 'astro:assets';

import cascadingFeelings from '$src/assets/cascading_feelings.jpeg';
import cascadingFeelingsTrained from '$src/assets/cascading_feelings_trained.jpeg';
import pfp from '$src/assets/mizuki.jpg';
import Albums from '$src/components/Albums.astro';
import BlogPreview from '$src/components/BlogPreview.astro';
import Chat from '$src/components/Chat.astro';
import NavList from '$src/components/NavList.astro';
import SiteButton from '$src/components/SiteButton.astro';
import Webrings from '$src/components/Webrings.astro';
import Window from '$src/components/Window.astro';
import MainLayout from '$src/layouts/MainLayout.astro';
import { STATE_KEY } from '$src/lib/script';

const PFP_SIZE = 256;
---

<MainLayout back="disable">
	<h1>Have You Seen This Girl?</h1>

	<section class="about-bio">
		<div class="bio" x-data>
			<Window class="quote">
				<h2>Mizuki?</h2>
				<blockquote
					lang="ja"
					x-show="$store.state.value !== 'with our wounded hands'"
				>
					ごめん…
				</blockquote>

				<template x-if="$store.state.value === 'with our wounded hands'">
					<blockquote lang="ja">一緒にいようよ、瑞稀</blockquote>
				</template>
			</Window>

			<Image
				src={pfp}
				alt="Akiyama Mizuki"
				layout="constrained"
				class="pfp"
				width={PFP_SIZE}
				height={PFP_SIZE}
				x-show="$store.state.value !== 'cascading feelings' && $store.state.value !== 'with our wounded hands'"
			/>

			<template x-if="$store.state.value === 'cascading feelings'">
				<Image
					src={cascadingFeelings}
					alt="Akiyama Mizuki"
					layout="constrained"
					class="pfp"
					width={PFP_SIZE}
					height={PFP_SIZE}
				/>
			</template>

			<template x-if="$store.state.value === 'with our wounded hands'">
				<Image
					src={cascadingFeelingsTrained}
					alt="Akiyama Mizuki"
					layout="constrained"
					class="pfp"
					width={PFP_SIZE}
					height={PFP_SIZE}
				/>
			</template>
		</div>

		<Window class="about">
			<h2>About</h2>
			<div class="about-content">
				<p>welcome to my virtual home~</p>
				<p>
					it's pretty empty in here right now, but feel free to go wandering
					about. who knows, maybe you'll find a secret or two?
				</p>
			</div>
		</Window>
	</section>

	<section class="info">
		<div class="info-column">
			<NavList />
			<Chat />
		</div>

		<div class="info-column">
			<section class="albums">
				<h2>Albums</h2>
				<Albums />
			</section>

			<BlogPreview />

			<Window class="site-button">
				<h2>Button</h2>
				<SiteButton />
			</Window>
		</div>
	</section>

	<Window class="webrings">
		<h2>webrings</h2>
		<Webrings />
	</Window>
</MainLayout>

<style>
	.about-bio {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		align-items: start;
		justify-content: center;
	}

	.state {
		display: contents;
	}

	.bio {
		display: flex;
		flex: none;
		flex-direction: column-reverse;
		gap: 1rem;
	}

	.pfp {
		border: 2px solid var(--cl-outline);
	}

	.about {
		flex: 50%;

		p {
			line-height: 1.45;
		}
	}

	.quote {
		flex: auto;

		blockquote {
			margin: 0.5em 0;
			font-style: italic;
			text-align: center;
		}
	}

	.info {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.info-column {
		display: flex;
		flex: auto;
		flex-direction: column;
		gap: 1rem;
	}

	.albums {
		h2 {
			margin-block: 0 0.5em;
			text-align: right;
			text-transform: lowercase;
		}
	}

	.blog-preview {
		align-self: end;
		width: min(18rem, 100%);
	}

	.site-button {
		align-self: end;
	}

	.webrings {
		margin-block-start: 2rem;
	}
</style>
