---
import { Image } from 'astro:assets';

import bakenohana from '$src/assets/bakenohana.png';
import cutiemarks from '$src/assets/cutiemarks.jpg';
import here from '$src/assets/here.jpg';
import pfp from '$src/assets/mizuki.jpg';
import smile from '$src/assets/smile!.jpg';
import Album from '$src/components/Album.astro';
import Chat from '$src/components/Chat.astro';
import NavList from '$src/components/NavList.astro';
import Window from '$src/components/Window.astro';
import MainLayout from '$src/layouts/MainLayout.astro';
---

<MainLayout>
	<h1>Have You Seen This Girl?</h1>

	<section class="bio">
		<Window class="about">
			<h2>About</h2>
			<p>welcome to my virtual home~</p>
			<p>
				it's pretty empty in here right now, but feel free to go wandering
				about. who knows, maybe you'll find a secret or two?
			</p>
		</Window>

		<Window class="quote">
			<h2>Mizuki?</h2>
			<blockquote lang="ja">ごめん…</blockquote>
		</Window>

		<Image
			src={pfp}
			alt="Akiyama Mizuki"
			layout="constrained"
			class="pfp"
			width={200}
			height={200}
		/>
	</section>

	<section class="info">
		<div class="info-column">
			<NavList />
			<Chat />
		</div>

		<div class="info-column">
			<section class="albums">
				<h2>Albums</h2>
				<nav>
					<Album
						image={bakenohana}
						href="https://youtu.be/UFRIsspP9UE"
						title="化けの花"
						artist="NAKISO"
					/>
					<Album
						image={smile}
						href="https://porterrobinson.co/SMILE"
						title="SMILE! :D"
						artist="Porter Robinson"
					/>
					<Album
						image={cutiemarks}
						href="https://vyletpony.bandcamp.com/album/cutiemarks-and-the-things-that-bind-us"
						title="CUTIEMARKS"
						artist="Vylet Pony"
					/>
				</nav>
			</section>

			<Window class="blog-preview">
				<h2>Blog</h2>
				<p>under construction!</p>
			</Window>
		</div>
	</section>

	<p class="find find1" aria-hidden>Find her<br />Find her</p>
	<div class="find find2" aria-hidden>
		<Image
			src={here}
			alt="An overexposed tree with pink flowers hanging down on vines, with a forest of similar trees and a Japanese-style roof in the background."
			width={200}
			height={200}
		/>
		<p class="is-she-here">Is she here?</p>
		<p>Find her find her</p>
		<p>Find her find her</p>
	</div>
</MainLayout>

<style>
	.bio {
		display: grid;
		grid-template:
			'pfp about' max-content
			'quote about' max-content / max-content 1fr;
		gap: 1rem 4rem;
	}

	.pfp {
		grid-area: pfp;
		border: 2px solid var(--cl-outline);
	}

	.about {
		grid-area: about;
		row-gap: 1em;

		p {
			margin: 0;
			line-height: 1.45;
		}
	}

	.quote {
		grid-area: quote;

		blockquote {
			margin: 0.5em 0;
			font-style: italic;
			text-align: center;
		}
	}

	.info {
		display: flex;
		justify-content: space-between;
	}

	.info-column {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.albums {
		display: flex;
		flex-direction: column;
		gap: 1em;
		margin-block-start: 1.5em;

		h2 {
			align-self: end;
			margin: 0;
			text-align: right;
			text-transform: lowercase;
		}

		nav {
			display: flex;
			gap: 1em;
		}

		& > :where(*) {
			grid-row: 2;
		}
	}

	.blog-preview {
		align-self: end;
		width: 16rem;
	}

	.find {
		position: absolute;

		font-family: var(--ff-accent);
		font-size: 3em;
		font-weight: bold;
		line-height: 1.1;
		color: var(--cl-accent);
		text-shadow: var(--cl-background) -4px 1px;
		text-transform: uppercase;
	}

	.find1 {
		inset-block-start: calc(22rem - 2em);
		inset-inline-start: -5.2em;
	}

	.find2 {
		inset-block-start: calc(25rem - 2em);
		inset-inline-end: -10.7em;
		display: flex;
		flex-direction: column;

		.is-she-here {
			position: absolute;
				inset-block-start: calc(5rem - 1em);
			inset-inline-start: 6em;

			font-size: 0.9rem;
			color: red;
			text-shadow: none;

			&::before {
				--size: 2rem;
				--gap: 0.25rem;

				content: '';

				position: absolute;
				inset-block: 0;
				inset-inline-start: calc(var(--size) * -1 - var(--gap));
				translate: 0 -25%;

				width: var(--size);
				height: var(--size);
				border: 2px solid red;
				border-radius: 100%;
			}
		}

		p {
			margin: 0;
		}
	}
</style>
