---
import Bounded from '$/components/Bounded.astro';
import Favorite from '$/components/Favorite.astro';
import Marquee from '$/components/Marquee.astro';
import Directory from '$/components/Directory.astro';
import Section from '$/components/Section.astro';
import Status from '$/components/Status.astro';
import Layout from '$/layouts/Layout.astro';
import { Content as Information } from '$/data/information.md';
import SiteButton from '$/components/SiteButton.astro';
import Settings from '$/components/Settings.astro';

import sites from '$/data/sites.json';
import { Content as TodoContent } from '$/data/todo.md';
import Webrings from '$/components/Webrings.astro';
---

<Layout>
	<Bounded>
		<Section
			class="marquee"
			as="header"
			header="The Bar at the End of Time"
			level={1}
		>
			<Marquee>
				<li>it's about time you got here, don't you think?</li>
				<li>hihihihihi!!!! :3</li>
				<li class="special">meow meow</li>
			</Marquee>
		</Section>

		<main>
			<div class="main">
				<Section class="welcome" header="Welcome">
					<p>
						effervescence is ephemeral, bounded by the limits of
						time. enjoy the now.
					</p>
				</Section>

				<Section class="info" header="Information">
					<Information />
				</Section>

				<Section class="marquee" as="nav" header="Inspiration">
					<Marquee duration={`${sites.length * 2.5}s`}>
						{
							sites.map(site => (
								<li>
									{site.image ? (
										<a
											href={site.href}
											target="_blank"
											rel="noreferrer"
										>
											<img
												src={site.image}
												alt={site.name}
												width="88"
												height="31"
											/>
										</a>
									) : (
										<a
											href={site.href}
											target="_blank"
											rel="noreferrer"
											style={{ color: site.color }}
										>
											{site.name}
										</a>
									)}
								</li>
							))
						}
					</Marquee>
				</Section>
			</div>

			<div class="side">
				<Directory />
				<Status />
				<Favorite />
				<Settings />
				<Webrings />
				<SiteButton />

				<Section class="todo" header="Todo">
					<TodoContent />
				</Section>
			</div>
		</main>
	</Bounded>
</Layout>

<style>
	.marquee {
		padding: 0;
	}

	main {
		display: flex;
		flex-direction: row;
	}

	.main {
		display: flex;
		flex: auto;
		flex-direction: column;
		min-width: 0;
	}

	.welcome {
		text-align: center;
	}

	.welcome p {
		margin: 0;
	}

	.info :global(p) {
		line-height: 1.6;
	}

	.side {
		display: flex;
		flex-direction: column;
	}

	.special {
		font-family: Nabla, var(--ff-main);
		font-size: 1.5rem;
	}

	.todo {
		line-height: 1.4;
	}

	.todo > :global(ul) > :global(li) {
		margin-block-end: 0.75rem;
	}
</style>
