---
import sites from '$/data/sites.json';
import Section from '$/components/Section.astro';
import Marquee from '$/components/Marquee.astro';

type Unpacked<T> = T extends (infer U)[] ? U : T;
type Site = Unpacked<typeof sites>;

const [first, second] = sites.reduce<[Site[], Site[]]>(
	([first, second], current, i) =>
		i % 2 === 0 ? [[...first, current], second] : [first, [...second, current]],
	[[], []],
);
---

<Section class="container" as="nav">
	<h2>Inspiration</h2>
	<Marquee class="marquee" duration={`${first.length * 2.5}s`}>
		{
			first.map(site => (
				<li>
					{site.image ? (
						<a href={site.href} target="_blank" rel="noreferrer">
							<img
								src={site.image}
								alt={site.name}
								width="88"
								height="31"
							/>
						</a>
					) : (
						<a
							href={site.href}
							target="_blank"
							rel="noreferrer"
							style={{ color: site.color }}
						>
							{site.name}
						</a>
					)}
				</li>
			))
		}
	</Marquee>

	<Marquee class="marquee" reverse duration={`${second.length * 2.5}s`}>
		{
			second.map(site => (
				<li>
					{site.image ? (
						<a href={site.href} target="_blank" rel="noreferrer">
							<img
								src={site.image}
								alt={site.name}
								width="88"
								height="31"
							/>
						</a>
					) : (
						<a
							href={site.href}
							target="_blank"
							rel="noreferrer"
							style={{ color: site.color }}
						>
							{site.name}
						</a>
					)}
				</li>
			))
		}
	</Marquee>
</Section>

<style>
	.container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding-block: 1rem;
	}

	.marquee {
		padding: 0;
	}
</style>
