---
import Section from '$/components/Section.astro';
import TimeSince from '$/components/TimeSince.svelte';
import dayjs from 'dayjs';

const { class: className, ...rest } = Astro.props;

interface Status {
	author: string;
	content: string;
	face: string;
	timeAgo: string;
}

const res = await fetch('https://status.cafe/users/mocha8686/status.json');
const { author, content, face, timeAgo }: Status = await res.json();

function parseTimeAgo(timeAgo: string): Date {
	const [n, unit] = timeAgo.split(' ');
	const now = dayjs();
	const newDate = now.subtract(
		Number.parseInt(n),
		unit as dayjs.ManipulateType,
	);
	return newDate.toDate();
}

const timestamp = parseTimeAgo(timeAgo);
---

<Section class={className} {...rest}>
	<h2>Status</h2>
	<p>
		<a class="username">{author}</a>
		<span class="icon">{face}</span>
	</p>
	<p class="status">{content}</p>
	<TimeSince client:visible class="time-since-update" {timestamp} />
</Section>

<style>
	p {
		margin: 0;
	}

	.username {
		font-family: var(--ff-accent-word);
		font-size: var(--fs-accent);
		text-decoration: underline;
	}

	.icon {
		font-family: var(--ff-accent-symbol);
		font-size: 0.75rem;
	}

	.time-since-update {
		font-size: var(--fs-timestamp);
		color: var(--cl-secondary);
	}
</style>
